body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  transform: translateY(-7vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

fieldset > :not(:last-child) {
  margin-right: 2rem;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

[type='submit'] {
  margin-left: 0;
  margin-top: 1.1rem;
  display: table-cell;
  vertical-align: middle;
}

.form-validation-error {
  font-size: 16px;
  line-height: 0;
}

.validation-stand-in {
  height: 18px;
  color: red;
}

.fieldset {
  align-self: center;
}
